.main-home {
  min-height: 472px;
  background-color: #f1f7f5;
}

.disc {
    /* background-image: url("../../public/images/hello2.png"); */
    
    width: 100%;
    /* height: 50vh; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .disc-but {
    width: 685px;
    height: 64px;
    border: none;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    background: #dadddd;
    padding-left: 10px;
    margin-top: 120px;
  }
  
  .disc-inner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }


  .disc-text2 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-family: "League Spartan", sans-serif;
    color: #01140f;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .disc-flow {
    margin-left: auto;
    margin-right: auto;
    color: rgb(94, 19, 19);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }

  .disc-section1 {
    background-color: #f1f7f5;
  }
  
  .disc-section1-inner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  