
.profile-list {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    background-color: #041812;
    display: flex;
    align-items: center;

  }
  
  .profile-item {
    margin-right: 20px;
    cursor: pointer;
    color: white;
  }

  .prof {
    margin-left: 10px;
  }
  
  .profile-event {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-left: 0px;
  }
  
  .profile-active {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  
  .profile-sold {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  
  .no-event {
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
  }
  .no-event2 {
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: black;
  }
  .active {
    color: #00d395;
  }
  
  .profile-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 30px;
  }

  