main {
  padding-top: 50px;
  background-color: black;
}
.profile-list {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
  }
  
  .profile-item {
    margin-right: 20px;
    cursor: pointer;
    color: white;
  }
  
  .profile-event {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  
  .profile-active {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  
  .profile-sold {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  
  .profile-bought {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  

  
  .flip {
    width: 175px;
    height: 48px;
    border: none;
    font-family: "League Spartan", sans-serif;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    background: #00d395;
    margin-top: 24px;
  }
  
  .no-event {
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
  }
  .no-event2 {
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: black;
  }
  .active {
    color: #00d395;
  }
  
  .flip-input {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 64px;
    padding-left: 10px;
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  
  
  .balance-box {
    width: 344px;
    height: 204px;
    background: #ffffff;
    padding: 40px;
    box-sizing: border-box;
    margin-right: 30px;
  }
  
  .profile-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 30px;
  }
  
  .balance {
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #00d395;
    padding-top: 10px;
  }
  
  .busd {
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    color: #2e2c2c;
    padding-top: 10px;
  }

  