.footer {
    background-color: #026447;
    position: relative;
    bottom: 0;
    top: 100%;
    width: 100%;

  }
  
  .footer-inner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #def3ec;
  }
  
  .footer-inner2 {
    display: flex;
    justify-content: space-around;
    width: 400px;
  }

.footer-link {
  text-decoration: none;
  color: #def3ec;
}

.footer-link:hover {
  color: white;
}
  