.logo {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
  color: #026447;
  padding-left: 20px;
  text-shadow: 2px 2px 3px #000000;
}

.logo:hover, .nav-link:hover {
  color: #025e42;
}

.nav-link {
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  
}

.nav-link {
  color: #026447;
}



@media only screen and (min-width: 768px) {
  .collapse {
    display: flex;
    justify-content: flex-end;
  }

  .nav-item {
    margin: 2px 12px;
  }

}